* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #948b8a;
    color: #e5e7eb;
}

.header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #351515, #6d2222);
}

.header h1 {
    font-size: 2.5rem;
}

.header p {
    font-size: 1.2rem;
    opacity: 0.9;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
    color: #aaa6a6;
}

.card {
    background-color: #020617;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color: #fa6060;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(43, 4, 4, 0.993);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.logo {
    font-size: 1.4rem;
    color: #aaa6aa;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: #aaa6aa;
    font-weight: 500;
    transition: color 0.3s;
}

.menu a:hover {
    color: #fa6060;
}

.hero {
    padding-top: 120px;
    text-align: center;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.card {
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: transform 0.4s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.card-content {
    padding: 20px;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20;
}

.projetos h2 {
    color: #020617;
    grid-column: 1 / -1;
}

@media (max-width: 768px) {
     .navbar {
        padding: 15px 20px;
        flex-direction: column;
        gap: 10px;
    }

    .menu {
        gap: 15px;
    }

    .hero h2 {
        font-size: 1.8rem;
    }

    .container {
        margin: 100px auto 40px;
        padding: 0 15px;
    }

    .card img {
        height: 160px;
    }
}

@media (max-width: 480px) {

    .hero h2 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.footer {
    background-color: linear-gradient(135deg, #351515, #6d2222);
    color: #cbd5f5;
    padding: 40px 20px 20px;
    margin-top: 80px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-info h3 {
    font-size: 1.4rem;
    color: #020617;
    margin-bottom: 5px;
}

.footer-info p {
    font-size: 0.95rem;
    opacity: 0.85;
    color: #020617;
}

.footer-links a {
    color: #020617;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #fa6060;
}

.footer-copy {
    text-align: center;
    font-size: 0.85rem;
    opacity: 0.6;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        justify-content: center;
    }
}

.sobre {
    color: #020617;
}

.sobre h2 {
    color: #020617;
}

.contato {
    color: #020617;
}

.contato h2 {
    color: #020617;
}

.hero {
    padding-top: 140px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #aaa6aa;
}

.hero h2 {
    font-size: 1.6rem;
    color: #aaa6aa;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.1rem;
    opacity: 0.9;
    margin-bottom: 30px;
}

.hero-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.btn-primary,
.btn-secondary {
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-primary {
    border: 2px solid #fa6060;
    color: #aaa6aa;
}

.btn-primary:hover {
    background-color: #fa6060;
}

.btn-secondary {
    border: 2px solid #fa6060;
    color: #aaa6aa;
}

.btn-secondary:hover {
    background-color: #fa6060;
    color: #aaa6aa;
}
